#gridContainer{
    display: flex;
    justify-content: center;
}
#myGrid{
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    align-self: center;

}

.block{
    background-color: beige;
    aspect-ratio: 1/1;
    
    
}

#break {
    flex-basis: 100%;
    height: 0;
  }
.btn{
    display: flexbox;
    padding: 20px;
    justify-content: center;
    margin: 15px;
    
}
#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0%;
}